.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contact-left{
    width: 50%;
    
}
.contact-right{
    width: 60%;
    margin-left: 5%;
}
.about-text{
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: justify;
    text-justify: inter-word;
}
@media screen and (max-width:600px) {
    .contact-container{
        flex-direction: column;
    }
    .contact-left{
        width: 90%;
    }
    .contact-right{
        width: 90%;
        margin-left: 0;
    }
}