.projects{
    width: 45%;
    margin: 2%;
    margin-bottom: 3%;
   padding: 1%;
   border-radius: 4%;
   border-bottom: 10px double #DC3546;
 
}
.project-img{
    overflow: hidden;
    border-radius: 5%;
}

.project-img img{
  height: 330px;
   width: 100%;
 object-fit: fill;
   transition: .5s;
}
.project-img img:hover{
    transform: scale(1.1);
    cursor: zoom-in;
}
.btn-outline-danger{
    background: transparent;
    border: 2px double #DC3546;
    color: #ffffffd3;
}

.btn-outline-danger:hover{
    transition: .5s;
    
}
.btn-outline-danger i:hover{
    transform: rotate(360deg);
transition: .9s;
}

@media screen and (max-width:600px) {
    .projects{
        width: 95%;
        margin-right: 0%;
        margin-bottom: 3%;
    }
     .project-img img{
        height: 280px;
     }
    
    }
